src/META-INF/wsdl/localhost_8080/ConversionWebService/ConversionWS.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.2 (UNKNOWN-17d59c9; 2018-09-26T15:16:30-0700) JAXWS-RI/2.3.1 JAXWS-API/2.3.1 JAXB-RI/2.3.1 JAXB-API/2.3.1 svn-revision#unknown. --><xs:schema xmlns:tns="http://conversion.ws.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://conversion.ws.com/">

<xs:element name="FromDZD" type="tns:FromDZD"/>

<xs:element name="FromDZDResponse" type="tns:FromDZDResponse"/>

<xs:element name="ToDZD" type="tns:ToDZD"/>

<xs:element name="ToDZDResponse" type="tns:ToDZDResponse"/>

<xs:complexType name="FromDZD">
<xs:sequence>
<xs:element name="montant" type="xs:float"/>
<xs:element name="devise" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="FromDZDResponse">
<xs:sequence>
<xs:element name="return" type="xs:float"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ToDZD">
<xs:sequence>
<xs:element name="montant" type="xs:float"/>
<xs:element name="devise" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ToDZDResponse">
<xs:sequence>
<xs:element name="return" type="xs:float"/>
</xs:sequence>
</xs:complexType>
</xs:schema>